*{
    margin: 0px;
    padding: 0px;
    font-family: Calibri;
    color: white;
    scroll-behavior: smooth;
}
:root{
    --main-color:rgb(15, 46, 66);
    --second-color:rgb(15, 39, 55);
    --accent-color:rgb(90, 195, 255);
    --accent-transparent:rgba(90, 195, 255, 0.469);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    background-color: var(--main-color);
}

header{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--second-color);
    z-index: 3;
}
.nav-bar{
    width: 90%;
    padding: 2rem .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    margin: 0 auto;
}

.logo{
    font-size: 2.5rem;
    color: white;
}

#menu-icon{
    display: none;
}
.nav-bar a:hover,.nav-bar a.active{
    color: var(--accent-color);
}
.nav-bar a{
    transition: 0.3s;
    text-decoration: none;
    font-size: 2rem;
    margin-left: 2rem;
}

/* index */
.main-content,#project {
    margin-top: 10rem;
    min-height: 60vh;
    padding: 10rem 9% 2rem;
    display: flex;
    font-size:2rem;
    z-index: 2;
}
.main-content-column{
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* max-width: ; */
}
.text{
    max-width: 350px;
    width: 500px;
    padding: 10px;
    padding-bottom: 30px;
}
.text h2{
    color: transparent;
    font-size: 27px;
    -webkit-text-stroke: .7px var(--accent-color);
}

.cursor{
    height: 30px;
    width: 2px;
    background: #ffffff;
    display: flex;
    position: relative;
    float: left;
    animation: blink 3s infinite alternate-reverse linear;
    transition: transform 3s,opacity 100ms;
}
@keyframes blink {
    0%{
        transform:translate(230px,0px);
    }
}
.btns{
    display: flex;
    flex-direction: row; 
    width: 250px;
    justify-content: space-between;
}
.btn{
    transition: 0.3s;
    font-size: 20px;
    padding: 8px 15px;
    margin-top: 20px;
    position: relative;
    border: 2px solid var(--accent-color);
    background-color: var(--accent-color);
    color:  var(--main-color);
    border-radius: 10px;
    font-weight: bold;
    z-index: 1;
    overflow: auto;
}
.talk-btn{
    background: transparent;
    color: var(--accent-color);
    transition: 0.3s;
}

.btn::before{
    content: '';
    background: var(--main-color);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0;
    height: 100%;
    display: flex;
    z-index: -1;
    border-radius: 8px;
    transition: width 0.5s linear,color 0.5s linear;
}
.btn:hover::before{
    width: 100%;
}
.btns .talk-btn:hover{
    color: var(--main-color);
}
.btn:nth-child(2)::before{
    background: var(--accent-color);
}
.btn:hover{
    color: var(--accent-color);
}

.side-img{
    display: flex;
    width: auto;
    margin-left:auto
}
.abt-me-img{
    margin-left:0;
}
.side-img img{
    height: 200px;
    width: 200px;
    mix-blend-mode:luminosity;
    border-radius: 40%;
}



/* about */
.me{
    align-items: center;
}
.me span{
    color: var(--accent-color)!important;
}


/* contact */
.textbox{
    border: 3px solid var(--accent-color);
    background-color: transparent;
    z-index: 1;
    position: relative;
    overflow: hidden;
    display: flex;
    transition: 0.3s;
    margin-top: 20px;
    border-radius: 10px;
    font-weight: bold;
    overflow: auto;
    color: #ffffff;
    padding: 10px;
    font-size: 2rem;
}
.textbox::placeholder{
    color: #ffffff;
}
.textbox:focus{
    border: 3px solid var(--accent-color);
    outline:0;
}
.textbox:not(:placeholder-shown){
    background-color:var(--accent-transparent) ;
}
.item1{
    grid-row: span 1;
}
.item2{
    grid-row: span 1;
}
.item3{
    grid-row: span 1;
}
.item4{
    grid-row: span 1;
}
.item5{
    grid-row: span 2;
    grid-column: span 2;
}
.spacex1{
    height: 4rem;
    width: 23rem;
}
.spacex2{
    height: 18rem;
    width: 50rem;
    resize: none;
}
.center-content{
    display: grid;
    column-gap: 10px;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(5);
    margin-left: 2rem;
}
#submit{
    height: 4rem;
    width: 10rem;
    margin-top: 2rem;
    background-color: var(--main-color);
    border: 2px solid var(--accent-color);
    border-radius: 10px;
    font-size: 2rem;
    font-weight: bold;
    margin-left: -5rem;
}
/* project */
.main-content-small{
    min-height: 20vh;
}
.main-content-grid-row{
    display: grid;
    width: 80%;
    height: 1rem;
    grid-auto-flow: row;
    gap: 3rem;
}
.main-content-grid-row video{
    height: 13rem;
    padding: 2rem;
}
.project{
    height: 40vh;
    resize: none;
    overflow: hidden;
}
.full-height{
    height: 100vh;
}
.projectframe{
    width: 80%;
    height: 100vh;
    resize: none;
    overflow: hidden;
}
.project-bg{
    height: fit-content;
    transition: transform .3s,box-shadow .1s;
}
#project1{
    margin-top: 7rem;
    text-align: center;
}
.project-bg:hover{
    transform: translateX(-10px);
    filter: drop-shadow(7px 20px 3px var(--second-color));
}

/* footer*/
.footer{
    background:rgba(84, 80, 80, 0.498);
    height: fit-content;
}
.social_media{
    display: flex;
    width: fit-content;
    margin: 75px 0px 0px 15%;
    position: absolute;
    align-items:first baseline;
}

.social_media img{
    width: 30px;
    aspect-ratio: 1/2;
    object-fit: contain;
    padding:50px 20px 0px 30px;
}
.social_media img:hover{
    filter: drop-shadow(10px 10px 10px #000000);
}