*{
    margin: 0px;
    padding: 0px;
    font-family: Calibri;
    color: white;
    scroll-behavior: smooth;
}
:root{
    --main-color:rgb(15, 46, 66);
    --second-color:rgb(15, 39, 55);
    --accent-color:rgb(90, 195, 255);
}
body{
    background-color: var(--main-color);
}
.nav-bar{
    width: 100%;
    min-width: max-content;
    display: flex;
    background: var(--second-color);
    position: fixed;
    justify-content: flex-end;
    float: left;
    z-index: 3;
}
.nav-bar h2{
    flex-grow: 1;
    line-height: 3;
}

#menu-icon{
    display: none;
}

.navigators {
    list-style: none;
    display: flex;
    float: left;
    font-weight: bold;
    flex-shrink: 0;
}
.navigators a:hover,.navigators a.active{
    color: var(--accent-color);
}
.navigators li a{
    transition: 0.3s;
    text-decoration: none;
    line-height: 3;
    padding: 10px;
    font-size: 20px;
}

/* index */
.main-content{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
    display: flex;
    z-index: 2;
}
.text{
    max-width: 350px;
    width: 500px;
    padding: 10px;
    padding-bottom: 30px;
}
.text h2{
    color: transparent;
    font-size: 27px;
    -webkit-text-stroke: .7px var(--accent-color);
}

.cursor{
    height: 30px;
    width: 2px;
    background: #ffffff;
    display: flex;
    position: relative;
    float: left;
    animation: blink 3s infinite alternate-reverse linear;
    transition: transform 3s,opacity 100ms;
}
@keyframes blink {
    0%{
        transform:translate(230px,0px);
    }
}
.btns{
    display: flex;
    flex-direction: row; 
    width: 250px;
    justify-content: space-between;
}
.talk-btn, .hire-btn{
    transition: 0.5s;
    font-size: 20px;
    padding: 8px 15px;
    margin-top: 20px;
    border: 2px solid var(--accent-color);
    background-color: var(--accent-color);
    color:  var(--main-color);
    border-radius: 10px;
    font-weight: bold;
}

.talk-btn:hover, .hire-btn:hover{
    color: var(--accent-color);
    background-color:  var(--main-color);
}

.side-img{
    display: flex;
    width: auto;
    justify-self: flex-end;
}
.side-img img{
    height: 200px;
    width: 200px;
    mix-blend-mode:luminosity;
    border-radius: 40%;
}



/* about */
.me{
    align-items: center;
}
.me span{
    color: var(--accent-color)!important;
}


/* footer*/
.footer{
    background:rgba(84, 80, 80, 0.498);
    height: fit-content;
}
.social_media{
    display: flex;
    width: fit-content;
    margin: 75px 0px 0px 15%;
    position: absolute;
    align-items:first baseline;
}

.social_media img{
    width: 30px;
    aspect-ratio: 1/2;
    object-fit: contain;
    padding:50px 20px 0px 30px;
}
.social_media img:hover{
    filter: drop-shadow(10px 10px 10px #000000);
}